.footer-link {
    color: $FooterContactsColor;
    font-style: normal;
    text-decoration: none;


    &.address {
        color: $AdditionalColor;
    }
}

.footer-action {
    margin-bottom: 20px;

    color: $AdditionalColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-columns {
    align-items: baseline;
    padding-bottom: 60px;
    padding-top: 60px;

    text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    @media screen and (min-width: $desktop) {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

.logo-address {

    @media screen and (min-width: $tablet) {
        width: calc(50%-15px);
        margin-right: 165px;
    }


    @media screen and (min-width: $desktop) {
        width: calc(25% - 30px);
        margin-right: 0;
        text-align: left;
        margin-bottom: 0;
    }
}

.address {
    margin-top: 20px;
}

.footer-contacts-mail {
    margin-top: 8px;
}

.footer-contacts-phone {
    margin-top: 8px;
}

.subscribe-form {
    margin-top: 60px;
}