.footer-link {
    color: $FooterContactsColor;
    font-style: normal;
    text-decoration: none;


    &.address {
        color: $AdditionalColor;
    }
}

.footer-action {
    margin-bottom: 20px;

    color: $AdditionalColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer-columns {
    align-items: baseline;
    padding-bottom: 60px;
    padding-top: 60px;

    text-align: center;
}

.logo-address {
    /*margin-right: 69px;*/
}

.address {
    margin-top: 20px;
}

.footer-contacts-mail {
    margin-top: 8px;
}

.footer-contacts-phone {
    margin-top: 8px;
}

.subscribe-form {
    margin-top: 60px;
}