.page-header {
    margin: 0;
    border-bottom: 1px solid #ececec;
}

.main-nav {
    align-items: center;
    display: flex;

    @media screen and (max-width: 767px) {

        display: none;

    }
}

.site-nav {
    display: flex;
    margin-left: 93px;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-left: 88px;
    }

    &-item {
        margin-right: 50px;
        position: relative;
    }

    &-item:last-child {
        margin-right: 0;
    }
}

.contacts {
    display: flex;
    margin-left: auto;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        display: block;
    }

    &-item {
        margin-right: 30px;

        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            margin-right: 0px;
        }
    }

    &-item:last-child {
        margin-right: 0;
    }
}



.site-nav-link {
    @extend %NavLink;
    color: $SecondaryTextColor;
    transition-property: color;
    @extend %HoverAnimation;

    &::after {
        content: "";
        background-color: #ffffff;
        transition-property: background-color;
        @extend %HoverAnimation;
    }

    &:hover::after,
    &:focus::after,
    &.current::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $AccentColor;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0px, 1px);
    }

    &.current {
        color: $AccentColor;
    }
}



.contacts-link {
    @extend %NavLink;
    color: $PrimaryTextColor;
    fill: $PrimaryTextColor;
    transition-property: color, fill;
    @extend %HoverAnimation;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        padding: 0;
        margin-bottom: 10px;
        line-height: 1.17;
        font-size: 12px;
    }
}

.contacts-link.icon-phone {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-bottom: 0px;
    }
}

.icon-contacts {

    vertical-align: middle;
    width: 16px;
    height: 12px;

    @media screen and (max-width: 767px) {
        margin-right: 10px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-right: 8px;
        width: 14px;
        height: 10px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 10px;
    }
}

.icon-contacts.phone {

    width: 10px;
    height: 15px;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }

}

.site-nav-link:hover,
.contacts-link:hover,
.site-nav-link:focus,
.contacts-link:focus {
    color: $AccentColor;
    fill: $AccentColor;
}