.logo {
    @extend %LogoTextStyle;
    color: $LogoColor;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;

}

.logo-first {
    @extend %LogoTextStyle;
    color: $AccentColor;

}

.logo-footer {
    @extend %LogoTextStyle;
    color: $AdditionalColor;

}