* {
    outline: solid 1px red;
}

.portfolio-card {
    /*width: calc((100% - 60px) / 3);
    margin-right: 30px;*/
    max-width: 450px;
    width: 100%;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;

    &:last-child {
        margin-bottom: 0px;
    }


    &-link {
        color: inherit;
        text-decoration: none;
        display: block;
        margin: 0;
        padding: 0;

        background: #ffffff;

        transition-property: box-shadow;
        @extend %HoverAnimation;
    }

    &-link:hover,
    &-link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    /*&:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    &:nth-child(3n) {
        margin-right: 0;
    }*/
}

.portfolio-item {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;


    &-title {
        margin: 0;

        color: $SecondaryTextColor;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &-description {
        margin-top: 4px;
        margin-bottom: 0;

        font-size: 16px;
        line-height: 1.87;
    }

    &-text {
        margin: 0;
        padding: 77px 24px;
        width: 100%;
        height: 294px;
        position: absolute;
        top: 0;
        left: 0;

        background-color: $PortfolioOverlay;
        color: $AdditionalColor;
        font-size: 18px;
        line-height: 1.56;

        transform: translatey(101%);

        transition-property: transform;
        @extend %HoverAnimation;
    }
}

.overlay-portfolio-text {
    position: relative;
    overflow: hidden;
    min-height: 294px;
}

.portfolio-card-link:hover .portfolio-item-text,
.portfolio-card-link:focus .portfolio-item-text {
    transform: translatey(0);
    width: 100%;
    height: 100%;
}



.filter-list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.filter-item {
    margin-right: 8px;
    margin-bottom: 15px;
}

.filter-section {
    margin-top: $SectionMarginMobile;
}

.works-section {
    margin-top: 32px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
}