.portfolio-card {
    @media screen and (max-width: 767px) {

        max-width: 450px;
        width: 100%;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {

        width: calc((100% - 30px) / 2);

        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 30px;
        }

    }

    @media screen and (min-width: $desktop) {

        width: calc((100% - 60px) / 3);

        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n+3)) {
            margin-bottom: 30px;
        }

    }

    &-link {
        color: inherit;
        text-decoration: none;
        display: block;
        margin: 0;
        padding: 0;

        background: #ffffff;

        transition-property: box-shadow;
        @extend %HoverAnimation;
    }

    &-link:hover,
    &-link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    /*&:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    */
}

.portfolio-item {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;


    &-title {
        margin: 0;

        color: $SecondaryTextColor;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &-description {
        margin-top: 4px;
        margin-bottom: 0;

        font-size: 16px;
        line-height: 1.87;
    }

    &-text {
        margin: 0;
        padding: 77px 24px;
        width: 100%;
        height: 294px;
        position: absolute;
        top: 0;
        left: 0;

        background-color: $PortfolioOverlay;
        color: $AdditionalColor;
        font-size: 18px;
        line-height: 1.56;

        transform: translatey(101%);

        transition-property: transform;
        @extend %HoverAnimation;



        @media screen and (min-width: $tablet) {
            padding-top: 49px;
            padding-bottom: 49px;
        }

        @media screen and (min-width: $desktop) {
            padding-top: 63px;
            padding-bottom: 63px;
        }

        @media screen and (max-width: 479px) {
            padding-top: 45px;
            padding-bottom: 45px;
        }

        @media screen and (max-width: 380px) {
            padding: 15px;
            font-size: 16px;
        }
    }
}

.overlay-portfolio-text {
    position: relative;
    overflow: hidden;
    min-height: 294px;

    @media screen and (max-width: 479px) {
        min-height: 0px;
        max-height: 294px;
    }
}

.portfolio-card-link:hover .portfolio-item-text,
.portfolio-card-link:focus .portfolio-item-text {
    transform: translatey(0);
    width: 100%;
    height: 100%;
}



.filter-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

    @media screen and (min-width: $tablet) {

        justify-content: center;

    }

    @media screen and (max-width: 319px) {

        display: block;

    }
}

.filter-item:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 400px) and (max-width: 767px) {

        &:nth-child(3n) {
            margin-right: 0px;
        }

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 15px;
        }

    }

    @media screen and (max-width: 399px) {

        &:nth-child(2n) {
            margin-right: 0px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    @media screen and (max-width: 319px) {

        &:not(:last-child) {
            margin-bottom: 15px;
        }

    }

}

.filter-section {
    @media screen and (max-width:767px) {
        margin-top: 120px
    }

    @media screen and (min-width: $tablet) {
        margin-top: $SectionMarginMobile;
    }

    @media screen and (min-width: $desktop) {
        margin-top: $SectionMarginDesktop;
    }
}

.works-section {
    margin-top: 32px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
}