.section {
    margin-top: $SectionMarginMobile;

    &-title {
        margin-top: 0;
        margin-bottom: 30px;

        color: $SecondaryTextColor;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
    }

    &-title-description {
        margin-top: 30px;
        margin-bottom: 10px;

        color: $SecondaryTextColor;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &-title-description.white {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 27px;
        padding-bottom: 27px;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;

        background-color: $OverlayColor;
        color: $AdditionalColor;
        text-align: center;
    }
}


.advantages {

    &-item {
        max-width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*width: calc((100% - 90px) / 4);*/
    }

    &-item:not(:last-child) {
        margin-bottom: 30px;
    }

    &-bg {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $SecondaryBackground;
        border-radius: 4px;
    }

    &-icon {
        width: 70px;
        height: 70px;
    }

    &-item-text {
        margin: 0;
        padding: 0;
    }
}


.mobile-hidden {
    display: none;
}

.products {
    display: none;


    &-item {
        width: calc((100% - 60px) / 3);

        position: relative;
    }

    &-item:not(:last-child) {
        margin-right: 30px;
    }
}


.section-grey {
    padding-top: $SectionGreyPaddingMobile;
    padding-bottom: $SectionGreyPaddingMobile;
    margin-top: $SectionMarginMobile;

    background-color: $SecondaryBackground;
}

.team-member {
    /*display: flex;*/
    font-size: 16px;
    line-height: 1.18;
    text-align: center;


    &-card {
        /*width: calc((100% - 90px) / 4);*/
        width: 100%;

        background-color: $AdditionalColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &-card:not(:last-child) {
        margin-bottom: 30px;
    }

    &.name {
        margin-top: 0;
        margin-bottom: 10px;
        display: block;
        color: $SecondaryTextColor;
        font-weight: 500;
    }

    &.prof {
        margin-top: 0;
        margin-bottom: 16px;
        display: block;
    }

    &-description {
        padding-top: 30px;
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
}


.clients {
    margin-top: $SectionMarginMobile;


    &-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &-list-item {
        display: flex;


        width: calc((100% - 30px) / 2);
        height: 90px;
        border: 1px solid $ClientsLogoBorder;
        border-radius: 4px;
        margin-bottom: 30px;

        transition-property: border-color;
        @extend %HoverAnimation;
    }

    &-list-item:hover,
    &-list-item:focus {
        border-color: $AccentColor;
    }

    &-list-item:not(:nth-child(2n)) {
        margin-right: 30px;
    }

    &-list-item:nth-child(5) {
        margin-bottom: 0px;
    }

    &-list-item:nth-child(6) {
        margin-bottom: 0px;
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        fill: $ClientsLogoBorder;

        transition-property: fill;
        @extend %HoverAnimation;
    }

    &-link:hover,
    &-link:focus {
        fill: $AccentColor;
    }
}