.section {
    margin-top: $SectionMarginMobile;

    @media screen and (min-width: $desktop) {
        margin-top: $SectionMarginDesktop;
    }

    &-title {
        margin-top: 0;
        margin-bottom: 30px;

        color: $SecondaryTextColor;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;

        @media screen and (min-width: $desktop) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }

    &-title-description {
        margin-top: 30px;
        margin-bottom: 10px;

        color: $SecondaryTextColor;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &-title-description.white {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 27px;
        padding-bottom: 27px;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;

        background-color: $OverlayColor;
        color: $AdditionalColor;
        text-align: center;
    }
}

.section-grey {
    padding-top: $SectionGreyPaddingMobile;
    padding-bottom: $SectionGreyPaddingMobile;
    margin-top: $SectionMarginMobile;

    background-color: $SecondaryBackground;

    @media screen and (min-width: $desktop) {
        margin-top: $SectionMarginDesktop;
        padding-top: $SectionGreyPaddingDesktop;
        padding-bottom: $SectionGreyPaddingDesktop;
    }
}


.advantages {

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        @media screen and (max-width: 767px) {
            max-width: 450px;
            display: block;
            margin-left: auto;
            margin-right: auto;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            width: calc((100% - 30px) / 2);

            &:not(:nth-child(2n)) {
                margin-right: 30px;
                margin-left: 0;
            }

            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: $desktop) {
            width: calc((100% - 90px) / 4);

            &:not(:nth-child(4n)) {
                margin-right: 30px;
            }
        }

    }



    &-bg {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $SecondaryBackground;
        border-radius: 4px;
    }

    &-icon {
        width: 70px;
        height: 70px;
    }

    &-item-text {
        margin: 0;
        padding: 0;
    }
}




.mobile-hidden {
    @media screen and (max-width: 1199px) {
        display: none;
    }

}

.products {

    display: flex;

    &-item {
        width: calc((100% - 60px) / 3);

        position: relative;
    }

    &-item:not(:last-child) {
        margin-right: 30px;
    }
}

.team-member {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }

    &-card {

        width: 100%;
        background-color: $AdditionalColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &.name {
        margin-top: 0;
        margin-bottom: 10px;
        display: block;
        color: $SecondaryTextColor;
        font-weight: 500;
    }

    &.prof {
        margin-top: 0;
        margin-bottom: 16px;
        display: block;
    }

    &-description {
        padding-top: 30px;
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $desktop) {
            padding-bottom: 30px;
        }
    }
}

.team-member-card {

    @media screen and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        max-width: 450px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: calc((100% - 30px) / 2);
        margin-right: 30px;
        margin-bottom: 30px;

        &:nth-child(2n) {
            margin-right: 0px;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;

        &:nth-child(4n) {
            margin-right: 0px;
        }
    }

}

.team-member-photo {
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: 767px) {

        max-width: 450px;
        height: auto;
    }


    @media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
}

.clients {
    margin-top: $SectionMarginMobile;

    @media screen and (min-width: $desktop) {
        margin-top: $SectionMarginDesktop;
    }


    &-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &-list-item {
        display: flex;
        height: 90px;
        border: 1px solid $ClientsLogoBorder;
        border-radius: 4px;

        transition-property: border-color;
        @extend %HoverAnimation;

        @media screen and (max-width: 767px) {
            width: calc((100% - 30px) / 2);

            &:not(:nth-child(2n)) {
                margin-right: 30px;
            }

            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            width: calc((100% - 60px) / 3);

            &:not(:nth-child(3n)) {
                margin-right: 30px;
            }

            &:not(:nth-last-child(-n+3)) {
                margin-bottom: 30px;
            }
        }

        @media screen and (min-width: $desktop) {
            width: calc((100% - 150px) / 6);

            &:not(:nth-child(6n)) {
                margin-right: 30px;
            }
        }
    }

    &-list-item:hover,
    &-list-item:focus {
        border-color: $AccentColor;
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        fill: $ClientsLogoBorder;

        transition-property: fill;
        @extend %HoverAnimation;
    }

    &-link:hover,
    &-link:focus {
        fill: $AccentColor;
    }
}