$PrimaryTextColor: #757575;
$SecondaryTextColor: #212121;
$AccentColor: #2196f3;
$AdditionalColor: #ffffff;
$LogoColor: #000000;
$FooterContactsColor: rgba(255, 255, 255, 0.6);
$OverlayColor: rgba(47, 48, 58, 0.8);
$OverlayHero: rgba(47, 48, 58, 0.4);
$PortfolioOverlay: rgba(33, 150, 243, 0.9);
$SecondaryBackground: #f5f4fa;
$FooterBackground: #2f303a;
$ClientsLogoBorder: #afb1b8;
$ButtonBackgroundHover: #188ce8;

$SectionMargin: 94px;
$SectionGreyPadding: 94px;